body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Header Styles */
.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #0056b3;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

/* Main Container Styles */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Form Styles */
.form-container {
  flex: 1;
  margin-right: 20px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

/* Chart and Filter Styles */
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.filter-container {
  width: 55%;
  background-color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Expense List Styles */
.expense_list {
  max-height: calc(100vh - 418px);
  overflow-y: auto;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.expense-item span {
  flex-grow: 1;
}

.expense-item button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.expense-item button:hover {
  background-color: #c82333;
}

/* Filter Styles */
.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
  margin-right: 10px;
}

/* Mobile View (max-width:480px) */
@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="date"],
  form select,
  form button {
    padding: 8px;
    font-size: 14px;
  }

  .expense-item span,
  .expense-item button {
    font-size: 14px;
  }
}

/* Tablet View (min-width:768px) */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .chart-container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
